body {

    color: #002E2C;
    background-color: #EFF1C5;
    font-family: Verdana;
    margin: 50px 100px;


}

p {

    font-size: 16px;
}

h2 {

    font-size: 22px;
}

.otsikkoDiv {
    text-align: center;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.tervehdysDiv {
    text-align: center;
    font-size: 16px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3E7AF;
    padding: 5px;
    border: 2px transparent;
}

footer {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #E3E7AF;
}


/*uusin kokeilu kello on 19.08*/