* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Verdana;
    color: #002E2C;
    background-color: #EFF1C5;

}

.otsikkoDiv {
    text-align: center;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.tervehdysDiv {
    text-align: center;
    font-size: 16px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3E7AF;
    padding: 5px;
    border: 2px transparent;
}

.cta {
    display: flex;
    justify-content: center;
}

.toimintakehote {
    border: 2px solid #002E2C;
    border-radius: 10px;
    background-color: #fcffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #002E2C;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.footer {
    background-color: #E3E7AF;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* ylä valikko */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.navbar a {
    color: #002E2C;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: #fcffff;
    border: #002E2C solid;
    flex: 0 1 150px;
    margin: 0 50px;
}

.navbar a:hover {
    background-color: #EFF1C5;
}

#valittu {
    background-color: #E3E7AF;
}

/*#yhteystiedotDiv {
    font-size: 60px;
    background-color: red;
    text-align: right;
}*/